@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div style="flex-direction: column; gap: 15px;">
		<h1 class="title" style="">Scene Testing</h1>
		<ul class="scene_list">
			@foreach (var scene in ResourceLibrary.GetAll<SceneFile>().Where((x)=> x.ResourcePath.Contains("/publics/") ))
			{
				<li @onclick=@(()=>{SelectScene(scene);})>@scene.ResourceName</li>
			}	
		</ul>
	</div>
</root>

@code
{

	struct SceneData
	{
		public GameResource Resource;
		public string title;
	}


	void SelectScene(SceneFile scene)
	{
		var scenes = new List<Scene>();

		Game.ActiveScene.Load(scene);
		Log.Info(scene);

	}

	protected override void OnStart()
	{
		base.OnStart();
		Log.Info("tets");

	
		Log.Info("fezfze");

	}

}
