@keyframes text-animation {
	0% {
		opacity: 0;
		sound-in: error;
	}

	49% {
		opacity: 1;
		sound-out: error;
	}

	59% {
		opacity: 0;
		sound-out: error;
	}

	60% {
		opacity: 1;
		sound-out: error;
	}


	99% {
		opacity: 0;
		sound-out: error;
	}


	100% {
		opacity: 1;
		sound-out: error;
	}
}

LoadingMenuComponent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(95deg, rgba(26,28,29,1) 0%, rgba(26,28,29,0.9416141456582633) 100%);
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
	pointer-events: all;
	sound-in: error;

	.scene_list {
		align-self: center;
		flex-direction: column;
		gap: 30px;
		color: white;
		font-family: Poppins;
		font-size: 40px;
		flex-shrink: 0;

		> li {
			flex-shrink: 0;

			&:hover {
				color: yellow;
				padding: 5px;
				border-radius: 5px;
				background: linear-gradient(95deg, rgba(9,119,175,1) 0%, rgba(7,160,237,1) 100%);
			}
		}
	}

	.title {
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
		text-shadow: 0 0 7px rgb(255, 0, 0);
		align-self: center;
		font-size: 80px;
		text-transform: uppercase;
		margin-bottom: 20px;
		color: aliceblue;
		animation: text-animation 8s infinite;
	}
}
