@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root style="flex-direction: column; gap: 30px; pointer-events: @ShowCursor();">
	<div class="title">@SceneTitle</div>
	<div><p style="width: 350px;">@SceneDescription</p></div>
	

		<div>
			<ul style="flex-direction: column; gap: 15px;">
				@if (DisplayKeyMapping)
				{
					@foreach (var input in Input.GetActions())
					{
						<li>Key: @input.Name - Mapped: @input.KeyboardCode</li>
					}
					<li><button @onclick=@showBindings style="background-color: blue; color:white; padding: 15px;font-family:Poppins;">KEYBINDING</button></li>
				}
				<li><button @onclick=@(()=>{Game.ActiveScene.Load(LoadingScene);}) style="background-color: blue; color:white; padding: 15px;font-family:Poppins;">GO BACK TO LOADING</button></li>
			</ul>
		</div>
</root>

@code
{

	void showBindings()
	{

		Game.Overlay.ShowBinds();
	}

	[Property, TextArea] public string SceneTitle { get; set; } = "Hellod World!";
	[Property, TextArea] public string SceneDescription { get; set; } = "";
	[Property] public bool DisplayKeyMapping { get; set; } = true;
	[Property] public SceneFile LoadingScene { get; set; } 

	[Property]
	public bool display = false;

	string ShowCursor(){
		if(display) {
			return "all";
		} else {
			return "none";
		}
	}

	protected override void OnUpdate() {
		if(Input.Pressed("open")) {
			display = !display;
		}
	}

	protected override int BuildHash() => System.HashCode.Combine(display);

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override void OnStart()
	{
		base.OnStart();
	}
}
